@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #dropdown-nav {
        display: flex;
    }
}@media (max-width: 600px) {
  .experiences-container {
    padding: 0 2em 1em;
    justify-content: center;
    align-content: center;
  }
}